{% extends 'base.html' %}

{% block content %}

<div class="auth-content"> 

    <h1 class="form-title">Login</h1>
    <br><br><br>
    <form method="post">
        {% csrf_token %}
        {% if error %}
        <div class="form-errors">
            <span>{{error}}</span>
        </div>
        {% endif %}
        <div>
            <label for="username"><h3>Username</h3></label>
            <input type="text" name="username" class="text-input" required>
           
        </div>


        <div>
            <label for="password1"><h3>Password</h3></label>
            <input type="password" name="password" class="text-input" required>
           
        </div>

        <input type="submit" class="btn" value="Login">
        <a href="{% url 'password_reset' %}" class="forgot">Forgot Password?</a>
        <br> <br>
        <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
        
    

    </form>
</div>

{% endblock %}