{% block content %}

    

    <a href="{% url 'home' %}" style="font-size: 25px;font-weight: 600;float:right">Back</a>
    <h2 style="text-align-last: center;">Reset Password</h2>
	
        {% if validlink  %}
        
        <h3>Enter your new password</h3>
          <form id="reset-password" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            <div>
                <span>New password</span>
                <input type="password" name="new_password1" class="form-control"  required="" id="id_new_password1">
              </div>
    
          
              <div class="input-group">
                <span>New password Confirmation</span>
                <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required="" id="id_new_password2">
              </div>
            {% if form.errors %}
              {{form.errors}}
            {% endif %}
        
                <button type="submit" class="btn">Change Password</button>
      
          </form>


        {% else %}
          <h3>Password reset unsuccessful</h3>
          <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        {% endif %}
    
{% endblock %}