{% extends 'base.html' %}

{% block content %}

    <div class="auth-content">
    <h1 class="form-title">Reset Password</h1>
    <p>Enter your email of your account</p>
      <form method="post">
          {% csrf_token %}
            <input type="email" name="email"  placeholder="email address" class="text-input" autocomplete="email" required>
          
            {% if form.errors %}
              {{form.errors}}
          {% endif %}
           <button class="btn" type="submit">Reset Password</button>
    </form>
            
</div>
{% endblock %}