{% extends 'base.html' %}
{% block content %}

<div class="auth-content">

    <h1 class="form-title">Reset Password</h2>
	
        {% if validlink  %}
        
          <form id="reset-password" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            <div>
                <label>New Password</label>
                <input type="password" name="new_password1" class="text-input"  required="" id="id_new_password1">
              </div>
    
          
              <div>
                <label>Confirm Password</label>
                <input type="password" name="new_password2" class="text-input" autocomplete="new-password" required="" id="id_new_password2">
              </div>
            {% if form.errors %}
              {{form.errors}}
            {% endif %}
        
                <button type="submit" class="btn">Change Password</button>
      
          </form>
        </div>

        {% else %}
          <h3>Password reset unsuccessful</h3>
          <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        {% endif %}
    
{% endblock %}