
{% extends 'dashboard.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block section %}
<div class="auth-content">
        <h1 class="form-title">Change Password</h1>
		<!-- form starts here -->
		<form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="form-errors">

            
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
			<div>
				<label>
					<h3>
					<i class="fa fa-key" aria-hidden="true"></i> Old password </h3></label>
				<input id="old_password" name="old_password" placeholder="Enter your old password" required=""
                                   type="text" class="text-input">
			</div>
			<div class="agile-field-txt">
				<label>
					<h3><i class="fa fa-key" aria-hidden="true"></i> New Password </h3></label>
					<input name="new_password1" type="password" class="text-input"
					   placeholder="Enter your new password " required="" id="new_password1">
			</div>
			<div class="agile-field-txt">
				<label>
					<h3><i class="fa fa-key" aria-hidden="true"></i> New Password Confirmation </h3></label>
					<input name="new_password2" type="password" class="text-input"
					   placeholder="Enter your new password " required="" id="new_password2">
			</div>
				
			
                <button type="submit" class="btn">Change Password</button>

		</form>
	</div>
{% endblock %}