{% url 'products' as product %}
{% url 'index' as index %}

{% url 'register' as register %}
{% url 'login' as login %}
{% url 'dashboard' as dashboard %}
{% url 'password_change' as password_change %}
{% url 'edit' as edit %}


<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecom Shop | Home</title>
    <link href="/static/css/main.css" rel="stylesheet" />
    <link href="/static/css/responsive.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
  </head>

  <body>
    <header>
      <div class="header-top">
        <div class="contact">
          <ul>
            <li>
              <a href="#"><i class="fa fa-phone"></i> +977 9812345678</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope"></i> skyshop@gmail.com</a>
            </li>
          </ul>
        </div>
        <div class="social-icons">
          <ul>
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header-mid">
        <div class="logo">
          <h1><span>Ecom</span> Shop</h1>
        </div>
        <div class="shop-menu">
          <ul>
            {% if request.user.is_authenticated %}
            <li>
              <a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a>
            </li>
            <li>
              <a href="{% url 'dashboard' %}" class="{% if request.path == dashboard or request.path == password_change or request.path == edit %} active {% endif %}"><i class="fa fa-user"></i> Profile</a>
            </li>
            <li>
              <a href="{% url 'logout' %}"><i class="fa fa-lock"></i> Logout</a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'register' %}" class="{% if request.path == register %} active {% endif %}"><i class="fa fa-user"></i> Register</a>
            </li>
            <li>
              <a href="{% url 'login' %}" class="{% if request.path == login %} active {% endif %}"><i class="fa fa-lock"></i> Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="header-bot">
        <div class="mainmenu">
          <ul>
            <li><a href="{% url 'index' %}" class="{% if request.path == index %} active {% endif %}">Home</a></li>
            <li><a href="{% url 'products' %}" class="{% if request.path == product %} active {% endif %}">Products</a></li>
            <li><a href="contact-us.html">Contact</a></li>
          </ul>
        </div>
        {% if request.path == index or request.path == product %}  
        <div class="search_box">
          <form action="{% url 'products' %}" method="get" class="search-form">
            {% csrf_token %}
            <input type="text" name="search" placeholder="Search" value="{{search}}" />
            <button type="submit" class="search-button">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        {% endif %}
      </div>
    </header>

    {% block content %} {% endblock %}

    <footer>
      <div class="footer-main">
        <div class="single-widget">
          <h2>Services</h2>
          <ul>
            <li><a href="#">Online Help</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Change Location</a></li>
            <li><a href="#">FAQ’s</a></li>
          </ul>
        </div>
        <div class="single-widget">
          <h2>Policies</h2>
          <ul>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Refund Policy</a></li>
            <li><a href="#">Billing System</a></li>
          </ul>
        </div>
        <div class="single-widget">
          <h2>About SkyShop</h2>
          <form action="" class="searchform">
            <input type="text" placeholder="Your email address" />
            <button type="submit" class="btn btn-default">
              <i class="far fa-arrow-circle-o-right"></i>
              <i class="fa fa-envelope"></i>
            </button>
            <br /><br />
            <p>
              Get the most recent updates from <br />our site and be updated
              your self...
            </p>
          </form>
        </div>
      </div>
      <div class="footer-bottom">
        <p class="pull-left">
          Copyright © 2022 SkyShop Inc. All rights reserved.
        </p>
        <p class="pull-right">Designed by <span>sandipsky</span></p>
      </div>
    </footer>

    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
