{% extends 'base.html' %}

{% block content %}

<h1>Index page</h1>
<br><br>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis magni ad cumque. A, impedit! Accusamus facere dicta, aliquid magnam itaque neque. Unde et ex expedita asperiores explicabo, laudantium eum necessitatibus, aut nihil commodi excepturi soluta ullam sit possimus consectetur nemo perferendis consequatur dolorem doloremque voluptates autem libero voluptate quas dignissimos.</p>
<br><br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates atque similique perferendis provident odio eius ut animi aliquid deleniti est?</p>
<br><br>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, deleniti?</p>
{% endblock %}