{% extends 'base.html' %}

{% block content %}

<div class="cart-container">
    <div class="cart-content">
        <table>
            <tr>
                <th></th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
            {% with carts=cart.list   %}
            {% for cart in carts %}
            <tr>
                <td><img src="{{cart.obj.get_photo_url}}"></td>
                <td>{{cart.obj.name}}</td>
                <td>
                    <form action="{% url 'update_cart' cart.id %}" method="post"
                                        >
                                        {% csrf_token %}
                                        {{form}}
                                        <input type="number" name="quantity" placeholder="1" style="width: 68px;"
                                            value="{{cart.quantity}}" />
                                        <button class="btn" type="submit">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                            Update
                                        </button>
                                    </form>
                </td>
                <td>Rs.{{cart.obj.price}}</td>
                <td>Rs. {{cart.price}}</td>
                
                <td>
                <form action="{% url 'delete_cart' cart.id %} " method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-danger" type="submit"><i class="fa fa-trash"></i>
                    </button>

                </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br><br> <br><br><br><br>
    <div class="cart-bottom">
        <h1>Items: {{ cart.items }}</h1>
        <h1>Total: Rs {{ cart.get_total_amount }}</h1>
        <div class="buttons">
            <a href="{% url 'products' %}" class="btn">Continue Shopping</a>
            <a href="{% url 'checkout' %}" class="btn">Checkout</a>
        </div>
    </div>
    {% endwith %}
</div>

{% endblock %}