{% extends 'base.html' %}

{% block content %}

<div class="checkout-container">
    <div class="checkout-left">
        <div class="auth-content">
            <h1 class="ch">Checkout</h1>
            <form action="" method="post">
                <div>
                    <label for=""><h3>Phone Number</h3></label>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <label for=""><h3>Address</h3></label>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <label for=""><h3>City</h3></label>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <label for=""><h3>Card Number</h3></label>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <label for=""><h3>CVV</h3></label>
                    <input type="text" class="text-input">
                </div>
                <div>
                    <label for=""><h3>Expiration Date</h3></label>
                    <input type="text" class="text-input">
                </div>
                <button type="submit" class="btn">Pay</button>

            </form>
        </div>
    </div>
    <div class="checkout-right">
        <h1>Order Summary</h1>
        <table>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            {% with carts=cart.list   %}
            {% for cart in carts %}
            <tr>
                <td>{{cart.obj.name}}</td>
                <td>{{cart.quantity}}</td>
                <td>Rs.{{cart.obj.price}}</td>
                <td>Rs. {{cart.price}}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="cart-bottom">
            <h2>Items: {{ cart.items }}</h2>
            <h2>Total: Rs {{ cart.get_total_amount }}</h2>
        </div>
        {% endwith %}
    </div>
</div>

{% endblock %}